@use 'base';
@use 'intro';
@use 'main-picture';
@use 'info';
@use 'ingredients';
@use 'steps';
@use 'source';
@use 'footer';
h1 {
    font-family: base.$font-primary;
    font-size: 1.5em;
    margin-top: 4vh;
    color: black;
    margin-block-end: 0.2em;
    @media(min-width: base.$layout-breakpoint-small) {
        font-size: 3em;
    }
}