* {
    box-sizing: border-box;
}

header {
    display: grid;
    justify-content: space-around;
    font-size: 0.8em;
    margin: 25px 0px;
}

@media (min-width: 600px) {
    header {
        grid-template-columns: 50% 50%;
        margin: 70px;
    }
}

h1 {
    font-family: 'PT Serif', serif;
    letter-spacing: -0.045em;
    padding: 2%;
}

.teamdesc {
    font-family: Poppins;
    padding: 2%;
}

header h2 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
}

.role {
    writing-mode: vertical-rl;
    text-transform: uppercase;
    font-family: 'PT Serif';
}

.teammember {
    font-size: 0.8em;
}

.teammember img {
    vertical-align: top;
    max-width: 75%;
}

.teammember h3 {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1em;
}

.pos-2,
.pos-4,
.pos-6 {
    position: relative;
    top: 5vh;
}

section {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin: 25px 0px;
    grid-row-gap: 50px;
}

@media (min-width: 600px) {
    .pos-4,
    .pos-6 {
        position: relative;
        top: 0px;
    }
    .pos-5 {
        position: relative;
        top: 5vh;
    }
    section {
        grid-template-columns: repeat(3, 33%);
        margin: 70px;
    }
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: Montserrat;
    font-size: 0.7em;
    color: #BDBDBD;
}

footer a {
    text-decoration: none;
    color: #BDBDBD;
}

footer em {
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
}