    @use 'base';
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 1em;
        img {
            border-radius: 0.75em;
            box-shadow: 0.625em 0.625em 0.625em rgb(0 0 0 / 20%);
            width: 100%;
            height: 100%;
        }
        .large {
            grid-column: auto / span 2;
        }
        .tall {
            grid-row: auto / span 2;
        }
    }