@use 'base';
.profile-picture {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    max-width: 7.5em;
    margin-left: calc(50% - 3.7em);
    img {
        border-radius: 10%;
        max-width: 90%;
    }
    h1 {
        font-size: 0.875em;
        font-weight: 600;
    }
    div {
        font-size: 0.625em;
        color: #A9A9A9;
    }
}