@use 'base';
$footer-font-color:#BDBDBD;
footer {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 14px;
    font-weight: 600;
    color: $footer-font-color;
    margin-top: 10vh;
    a {
        text-decoration: none;
        color: $footer-font-color;
    }
    em {
        text-decoration: underline;
        font-style: normal;
        font-weight: bold;
    }
}